@import '../../../css/variables.scss';
@import '../../../css/mixins.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    .content {
        flex: 1;
        background-color: red;
    }

}
