@import '../../css/variables.scss';
@import '../../css/mixins.scss';

.wrapperHead {
    box-sizing: border-box;

    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid $neutral-2;
    background-color: $neutral-0;

    .menu {
        @include body-1;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .logo {
        cursor: pointer;
    }


    @media screen and (min-width: 1440px) {
        padding: 16px 135px 16px 135px;
        gap: 205px;
    }

    @media screen and (max-width: 1440px) {
        padding: 16px;
        gap: 20px;
    }
}
