@import '../../css/variables.scss';
@import '../../css/mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;

    .authBtn {
        width: 430px;
        @include body-2;
        padding: 16px 20px 16px 20px;
        border-color: $neutral-7;
    }
}