$neutral-0: #FFFFFF;
$neutral-1: #F9F9F9;
$neutral-2: #EDEDF4;
$neutral-3: #F6F6F9;
$neutral-4: #D4D7DB;
$neutral-5: #C4C4C4;
$neutral-6: #A8AAAE;
$neutral-7: #A7B4CC;
$neutral-8: #6E7686;
$neutral-9: #676A71;
$neutral-10: #272A33;

$green-1: #EAFBF5;
$green-2: #22B07D;

$primary-color: #13A3B9;