@import '../../../css/variables';
@import '../../../css/mixins';

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .label {
        @include body-2;
        color: $neutral-8;
    }

    .error {
        margin: 0;
        @include body-2;
        color: red;
    }
}


:global {
    .ant-input::placeholder,
    .ant-input[disabled]::placeholder,
    .ant-input-number-input::placeholder,
    .ant-input-number-input[disabled]::placeholder {
        color: $neutral-4;
    }

    .ant-input,
    .ant-input-number-input,
    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled),
    .ant-input-affix-wrapper-disabled {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include body-1;
        color: $neutral-10;
        background-color: $neutral-3;
        height: 56px;
        border-radius: 5px;
        padding: 17px 18px 17px 18px;
        border: 1px solid transparent;

        &:hover, &:focus {
            border: 1px solid $neutral-4;
            background-color: $neutral-3;
        }
    }

    .ant-input[disabled],
    .ant-input-number-input[disabled],
    .ant-input-affix-wrapper[disabled],
    .ant-input[readonly],
    .ant-input-number-input[readonly],
    .ant-input-affix-wrapper[readonly],
    .ant-input-outlined.ant-input-disabled,
    .ant-input-outlined[disabled] {
        background-color: $neutral-3;
        border-color: $neutral-3;
        color: $neutral-10;
        cursor: not-allowed;

        &:focus, &:focus-within {
            border-color: $neutral-3;
            box-shadow: none;
        }
    }

    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
    .ant-input-outlined.ant-input-disabled:hover:not([disabled]) {
        border-color: $neutral-3;
    }

    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):focus {
        border-color: $neutral-4;
    }

    .ant-input-outlined:focus-within {
        box-shadow: none;
    }

    .ant-input[readonly],
    .ant-input-number-input[readonly],
    .ant-input-affix-wrapper[readonly] {
        color: $neutral-10;
    }

    .ant-input-status-error:not(.ant-input-disabled):not(
            .ant-input-borderless
        ).ant-input,
    .ant-input-outlined.ant-input-status-error:not(.ant-input-disabled),
    .ant-input-affix-wrapper-status-error:not(
            .ant-input-affix-wrapper-disabled
        ):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
    .ant-input-affix-wrapper-disabled.ant-input-affix-wrapper-status-error,
    .ant-input-disabled.ant-input-status-error {
        border: 1px solid red;
        background-color: $neutral-3;

        &:hover {
            border-color: darkred;
            background-color: $neutral-3;
        }

        &:focus, &:focus-within {
            border-color: darkred;
            background-color: $neutral-3;
        }
    }

    .ant-input-affix-wrapper > input.ant-input {
        background-color: transparent;
    }

    .ant-input-prefix {
        svg > path {
            fill: $neutral-4;
        }
    }

    .ant-input-suffix {
        cursor: pointer;

        svg {
            width: 24px !important;
            height: 24px !important;

            & > path {
                fill: $neutral-4;
            }
        }
    }

    .ant-input-clear-icon {
        display: flex;

        & svg > path {
            fill: $neutral-4;
        }
    }

    .ant-input-number-status-error:not(.ant-input-number-disabled):not(
            .ant-input-number-borderless
        ).ant-input-number {
        &:focus-within,
        &:active {
            box-shadow: unset !important;
        }
    }


    .ant-input:has(+ .ant-input-suffix),
    .ant-input-status-error:not(.ant-input-disabled):not(
            .ant-input-borderless
        ).ant-input:has(+ .ant-input-suffix) {
        background-color: transparent;
        border: none;
    }

    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill,
    {
        border: 1px solid $neutral-4;
        -webkit-text-fill-color: $neutral-10;
        -webkit-box-shadow: 0 0 0 1000px $neutral-1 inset;
    }

    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:focus-visible,
    input:-webkit-autofill:target,
    input:-webkit-autofill:target-within,
    input:-webkit-autofill:active,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: $neutral-10;
        -webkit-box-shadow: 0 0 0 1000px $neutral-3 inset;
        border-top: 1px solid $neutral-4;
        border-bottom: 1px solid $neutral-4;
    }

}

.required {
    @include required-field();
}
