@import '../../css/variables.scss';
@import '../../css/mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 80px;

    .head {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: $neutral-0;
        padding-right: 135px;
        padding-left: 135px;

        .title {
            @include heading-2;
        }
    }
}