@import '../../css/variables.scss';
@import '../../css/mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .option {
        cursor: pointer;
        @include subtitle-1;
        color: $neutral-9;

        &:hover {
            color: $neutral-10;
        }
    }
}